@font-face {
  font-family: "Minimal";
  src: url("/Fonts/static/Minimal.woff");
}
.hero {
  width: calc(100vw - 17px);
  height: 100vh;
  display: flex;
  background: azure;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero.homepage {
  background-image: url(/img/peakCoupé.jpg);
}

.hero.services {
  background-image: url(/img/Landscape-BW.jpg);
  width: calc(100vw - 17px);
}

.hero h1 {
  font-size: 5vw;
  margin: 0;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.hero h2 {
  font-size: 2vw;
  font-weight: 400;
  margin: 0;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.hero.produits {
  display: flex;
  width: calc(100vw - 17px);
  background-image: url(/img/bia-w-a-PO8Woh4YBD8-unsplash.jpg);
}

.product-box {
  width: calc(100vw - 17px);
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
}
.product-box.reverse {
  justify-content: flex-end;
}

.product-box img {
  border-radius: 10px;
}

.product-box p {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 5%;
}

.product-box a {
  width: 100%;
  display: flex;
  text-align: center;
}

.product-box a:hover {
  background-color: #fff salmon;
}

.hero.a-propos {
  display: flex;
  color: #000;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  background-image: url(/img/about-us.png);
}
